*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }

aside{
    width: 8vw;
    height: 46vw;
    /* border: 4px solid red; */
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    

}

[alt = m1]{
    width: 50vw;
    
}

.img2{
    margin-top: 24vw;
    
}

.bimg{    
    width: 80vw;
    height: 20vw;
     background-repeat: no-repeat;
    /* border: 2px solid red; */
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;

     
}

.main{
    display: flex;
    justify-content: center;
}

[alt = aside]{
    width: 8vw;
    position: fixed;
    
}

.f3{
    font-weight: bold;
    font-size: 1.5vw;
}




.midel{
    /* border: 3px solid black; */
    width: 80vw;
    /* height: 100vw; */
    height: 630vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    
    

}

nav{
    width: 80vw;
    height: 20vw;
    /* border: 5px solid red; */
    margin-top: 20vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: static;
    z-index: 1;
    gap: 4vw;
    padding-top: 1vw ;
    

}

.r1{
    width: 10vw;
    height: 2vw;
    border: .2vw solid red;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: none;
}
.r1:hover{
    width: 10vw;
    height: 2vw;
    border: .2vw solid red;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: none;
}
.g1{
    width: 10vw;
    height: 2vw;
    border: .2vw solid green;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: none;
}
.g1:hover{
    width: 10vw;
    height: 2vw;
    border: .2vw solid green;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: none;
}

.q1{
    width: 7vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: .2vw solid rgb(209, 204, 204);
    border-radius: 1vw;
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: none;
}
.q1:hover{
    width: 7vw;
    height: 2vw;
    border: .2vw solid red;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: none;
}


.line{
    display: flex;
    gap: 0.5vw;
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    padding: 1vw;
    height: 1vw;
    width: 12vw;

}
.line1{
    display: flex;
    gap: 0.5vw;
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    height: 1vw;
    width: 26.5vw;
    color: gray;

}

select{
    border-radius: 2vw;
    padding-left: 0.4vw;
}


.title{
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}

.tnav{
    width: 80vw;
    height: 3vw;
    /* border: 3px solid green; */
    display: flex;
    gap: .4vw;
    margin-left: .3vw;
}

.data{
    width: 80vw;
    /* border: 2px solid red; */
    height: 700vw;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}


.data{
    display: flex;

}
  .krishna img{
    width:22vw;
    border-radius:20px;
    height:36vh;
  }
.column{
    width: 22vw;
    /* height: 300vw; */
    /* border: 2px solid black; */
    text-align: justify;
    padding: 2vw;
    font-size: 1vw;

}

.ok{
     width: 21vw; 
     height:60vh;
     border-radius: 2vw;
     margin: vw;
}
.ok1{
     width: 22vw; 
     border-radius: 20px;
     margin-top: 2vw;
     margin-bottom: 2vw;
}
.ok5{
     width: 22vw; 
     border-radius: 20px;
     
}
.ok3{
     width: 12vw; 
     border-radius: 20px;
     margin-top: 2vw;
     margin-bottom: 2vw;
}

#l1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.red{
    color: red;
    font-weight: bold;
}

.allstudent img{
    width:20vw;
    height:46vh;
     width: 22vw; 
     border-radius: 20px;
     margin-top: 2vw;
     margin-bottom: 2vw;
}
.vid video{
    border-radius:20px;
    width:22vw;
    height:30vh;
}
.vid1 video{
    border-radius:20px;
    width:22vw;
    height:30vh;
}
.vid2 video{
    border-radius:20px;
    width:22vw;
    height:30vh;
    margin-top:10%;
}
.Vadapav img{
   width:20vw;
   height:40vh;
}
.masti video{
     border-radius:20px;
    width:22vw;
    height:40vh;
    /* margin-top:%; */
}
.garba-masti video{
    width:20vw;
    border-radius:20px;
    height:40vh;
    margin-bottom:5%;
}
.Bappa img{
    width:22vw;
    height:55vh;
    border-radius:20px;
}

.agaman video{
     width:20vw;
    height:30vh;
} 
.Visarjan video{
    width:20vw;
    height:40vh;
    border-radius:20px;
}
.dance video{
      width:20vw;
      height: 40vh;
      border-radius:20px;
}
.roommate video{
    width:22vw;
    height:40vh;
    border-radius:20px;
    /* border-top-left-radius:10%; */
}
.masti video{
    width:22vw;
    height:40vh;
    border-radius:20px;
}

.gamezone video{
    width:22vw;
    height:25vh;
    border-radius:20px;
}
.okes{
     width: 22vw; 
     height:30vh;
     border-radius: 2vw;
     margin-top: 2vw;
     margin-bottom: 2vw;
}
/* 441 */


.last video{
    width:22vw;
    height:40vh;
    border-radius:20px;
}
.I{
    color:black;
    display: flex;
    justify-content: center;
}

.C{
    color:black;
    display: flex;
    justify-content: center;
}

.board img{
    width:8vw;
    height:100vh;
    margin-bottom:5%;
    
}
